.navbar{
    position: fixed;
    z-index: 100000;
    width: 100%;

}

.navbar-nav {
    margin-left: auto;
    height:50%;
   
}
.nav-item{
    margin-left: 0%;
}
.dropdown-menu> li{
    margin-left: 1%;
}